.menu-item {
    text-align: center;
    margin-bottom: 40px;
}

#menu {
    /* line-height: 1.8rem; */
    gap: 50px;
    color: rgb(56, 57, 61);
    justify-content: flex-start;
}

.menu-item-prices {
    margin-top: 10px;
}

.menu-item-name {
    font-size: 1.5rem;
}

.menu-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    color: rgb(91, 92, 97);
    margin-bottom: 80px;
    margin-top: 32px;
}